.inicio__about {
  background-color: $color-fondo;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-inline: 4rem;

  .inicio__valores {
    .titulo {
      padding-top: 6rem;
      padding-bottom: 2rem;
    }

    p {
      padding-inline: 4rem;
    }
  }

  .valores {
    & > h2 {
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 2rem;
    }

    .cajas {
      display: flex;
      gap: 2rem;
      width: 100%;

      .caja__valores {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        background-color: $color-caja;
        padding: 1.5rem;
        border: 3px solid $color-secundario;
        border-radius: 15px;
        flex: 1 1 0;
        width: 0;
        transition: all 0.2s ease-in-out;

        -webkit-animation: slide-in-fwd-bottom 0.4s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
          both;

        &:hover {
          transform: scale(1.05);
        }

        h2 {
          text-align: center;
        }
      }

      @for $item from 1 through 4 {
        .valor#{$item} {
          animation-delay: $item * 0.15s;
        }
      }
    }
  }

  .equipo {
    margin-bottom: 0.5rem;

    .titulo {
      padding-bottom: 2rem;
    }

    .tarjetas__about {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 2rem;

      .tarjeta__about {
        padding: 1rem;
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        align-items: center;
        border: 2px solid $color-secundario;
        border-radius: 5px;
        background-color: $color-caja;

        .imgPersona {
          width: 100%;
          border-radius: 5px;
        }

        .subtitulo {
          padding-top: 0.5rem;
          margin: 0;
        }

        .descripcion {
          padding: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .inicio__about {
    padding-inline: 2rem;

    .inicio__valores {
      p {
        padding-inline: 1rem;
      }
    }

    .valores {
      .cajas {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;

        .caja__valores {
          width: 100%;
        }
      }
    }

    .equipo {
      .tarjetas__about {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .inicio__about {
    .inicio__valores {
      .titulo {
        margin-top: 2rem;
        padding-top: 2rem;
        text-align: center;
      }

      .inicio__valores p {
        padding-inline: 1rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .inicio__about {
    padding-inline: 1rem;

    .inicio__valores {
      .titulo {
        font-size: 3rem;
      }
      p {
        padding-inline: 0.5rem;
      }
    }

    .valores {
      .cajas {
        padding-inline: 0.5rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
      }
    }

    .equipo {
      .titulo {
        font-size: 3rem;
      }
      .tarjetas__about {
        padding-inline: 0.5rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
      }
    }
  }
}

@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
