.logo-item {
  .logo {
    display: inline-block;
    position: relative;
    z-index: 10;
    font-size: 1rem;
    cursor: pointer;

    .logo-title,
    .logo-subtitle {
      text-transform: uppercase;
      text-align: center;
    }

    .logo-title {
      font-size: 2em;
      font-weight: 900;
      color: $color-texto1;
    }

    .logo-subtitle {
      font-size: 1.6em;
      font-weight: 800;
      color: $color-secundario;
    }

    &:hover {
      .logo-subtitle {
        animation: lower 3s ease-in-out infinite;
        animation-fill-mode: forwards;
      }
    }
  }
}

.active {
  & > a {
    & > .logo {
      & > .logo-subtitle {
        text-shadow: 0 0 80px $color-logo, 0 0 30px FireBrick, 0 0 6px DarkRed;
      }
    }
  }
}

@keyframes lower {
  0%,
  12%,
  18.999%,
  23%,
  31.999%,
  37%,
  44.999%,
  46%,
  49.999%,
  51%,
  58.999%,
  61%,
  68.999%,
  71%,
  85.999%,
  96%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 80px $color-logo, 0 0 30px FireBrick, 0 0 6px DarkRed;
  }
  19%,
  22.99%,
  32%,
  36.999%,
  45%,
  45.999%,
  50%,
  50.99%,
  59%,
  60.999%,
  69%,
  70.999%,
  86%,
  95.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}
